<h4>Your Agenda</h4>
<% (meetings).each do |meeting| %>
  <div class="card p-1">
    <%= render meeting %>
  </div>
  <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newMeetingModal">
     <i class="fa-solid fa-plus"></i>
     Add a meeting
    </button>
  </div>
<% end %>

<!-- Modal -->
<%= render 'meetings/modale_meeting', meeting: Meeting.new, modal_id: 'newMeetingModal' %>
