<div class="top-agenda">
  <div class="agenda-top-right">
    <h4 class="title-agenda">Agenda</h4>
    <p class="p-header-agenda">What is happening today?</p>
  </div>
  <div class="display-date">
      <h4 class="title-agenda"><i class="fa-regular fa-calendar-days"></i></h4>
      <h4 class="title-agenda"><%= Date.today.strftime('%d/%m/%Y') %></h4>
  </div>
</div>
<% (meetings).each do |meeting| %>
  <div class="meetings">
    <%= render meeting %>
  </div>
  <div class="fa-plus-center">
    <button type="button" class="btn-primary-rounded" data-bs-toggle="modal" data-bs-target="#newMeetingModal">
     <i class="fa-solid fa-plus"></i>
    </button>
  </div>
<% end %>

<!-- Modal -->
<%= render partial: 'meetings/modale_meeting', locals: { modal_id: 'newMeetingModal', company_id: "" } %>
