:root {
  /* ===== Colors ===== */
  --body-color: #fff;
  --light-grey: #F0F1F3;
  --primary-yellow: #ffd43b;
  --primary-blue: #183153;
  --text-color: #1D1D1D;
  --text-color-w: #ffffff;
  --secondary-text-color: #727272;
  --secondary-blue: #74c0fc;
  --secondary-pink: #e599f7;
  --secondary-orange: #ff8787;
  --secondary-green: #63e6be;
  --secondary-purple: #b197fc;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
