:root {
  /* ===== Colors ===== */
  --body-color: #171719;
  --dark-grey: #222223;
  --grey: #515151;
  --light-grey: #F0F1F3;
  --white: #ffffff;
  --primary-purple: #9548FB;
  --primary-yellow: #F8D65A;
  --text-color: #1D1D1D;
  --text-color-w: #ffffff;
  --secondary-text-color: #727272;
  --secondary-blue: #74c0fc;
  --secondary-pink: #e599f7;
  --secondary-orange: #ff8787;
  --secondary-green: #63e6be;
  --secondary-purple: #b197fc;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
