
h1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color-w);
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color-w);
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 800;
  color: var(--text-color-w);
  margin: 0;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color-w);
  margin: 0;
}

.subtitle {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color-w);
  margin: 0 auto;
}

p {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color-w);
  margin: 0 auto;
}

.p-bold {
  font-size: 12px;
  font-weight: bold;
  color: var(--text-color-w);
  margin: 0;

}

.p-small {
  font-size: 10px;
  font-weight: 600;
  color: var(--text-color-w);
  margin: 0;
}

.p-small-b {
  font-size: 10px;
  font-weight: bold;
  color: var(--text-color-w);
  margin: 0;
}

.p-ultra-small {
  font-size: 8px;
  font-weight: 600;
  color: var(--text-color-w);
  margin: 0;
}

.p-ultra-small-b {
  font-size: 8px;
  font-weight: bold;
  color: var(--text-color-w);
  margin: 0;
}

.p-left {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color-w);
  margin: 0 auto;
  text-align: left;
}

.tex-purple {
  color: var(--secondary-purple);
}

.tex-orange {
  color: var(--secondary-orange);
}



.text-right {
  text-align: right;
}
