  <div class="d-flex flex-row" style="width: 18rem;">
    <img class="card-img-top" src="" alt="Card image">
    <div class="card-body">
      <h5 class="card-title"><%= company.name %></h5>
      <p class="card-text"><%= company.code_naf %></p>
    </div>
  </div>
