<div>
  <h5>These prospects could interest you</h5>
  <div class="cartes">
    <% @companies_prospect.each do |company_prospect| %>
      <%= render partial: "card", locals: { company: company_prospect } %>
    <% end %>
  </div>
</div>

<div>
  <h5>Client close to your itinary</h5>
</div>

<div>
  <h5>Prospects you saved</h5>
  <div class="cartes">
    <% @companies_prospect_to_visit.each do |company_prospect_to_visit| %>
      <%= render partial: "card", locals: { company: company_prospect_to_visit } %>
    <% end %>
  </div>
</div>
