<div>
  <p class="p-bold"><%= company.name %></p>
  <p class="p-small"><%= company.address %></p>
  <button type="button" class="btn-primary-s" data-bs-toggle="modal" data-bs-target="#newMeetingModal">
    <i class="fa-solid fa-plus"></i>
    Add a meeting
  </button>
</div>
