<div class="container">
  <div class="home-left">
    <div class="agenda">
      <p>agenda</p>
    </div>
    <div class="proposition">
      <%= render partial: "contact" %>
    </div>
  </div>
  <div class="home-right">
    <p>map</p>
  </div>
</div>
