<div class="container">
  <div class="home-left">
    <div class="agenda card m-1 p-2">
      <%= render "meetings/agenda" %>
    </div>
    <div class="proposition">
      <p>proposition</p>
    </div>
  </div>
  <div class="home-right">
    <p>map</p>
  </div>
</div><
