<h3>These prospects could interest you</h3>
  <div class="container d-flex flex-row">
    <% @companies_prospect.each do |company_prospect| %>
      <%= render partial: "card", company: company_prospect %>
    <% end %>
  </div>

<h3>Client close to your itinary</h3>


<h3>Prospects you saved</h3>
  <div class="container d-flex flex-row">
    <% @companies_prospect_to_visit.each do |company_prospect_to_visit| %>
      <%= render partial: "card", company: company_prospect_to_visit %>
    <% end %>
  </div>
