.top-agenda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 24px;
  padding: 16px;
}

.agenda-top-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.itinerary-top-right {
  margin-top: 24px;
}

.display-date {
  display: flex;
  flex-direction: row;
}

.title-itinerary {
  color: var(--text-color-w);
}

.title-agenda {
  color: var(--text-color-w);
}


.p-header-agenda {
  color: var(--text-color-w);
}

.p-header-itinerary {
  align-items: left;
  color: var(--text-color-w);
}
