.outline-gray {
  border: 1px solid #727272;
}

.outline-light-gray {
  border: 1px solid #F0F1F3;
}

.b-radius-s {
 border-radius: 4px;
}

.b-radius {
  border-radius: 8px;
}

.b-radius-l {
  border-radius: 16px;
}
