.btn-primary {
  background-color: var(--primary-purple) ;
  padding: 8px 16px;
  color: var(--text-color-w);
  width: 100%;
  text-align: center;
  gap: 6px;
  border-radius: 6px;
}

.button-map {
  width: 50%;
  justify-content: center;
}
.btn-primary-home {
  padding: 8px 16px;
  color: var(--text-color-w);
  width: 100%;
  text-align: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid #F7F6F2;
}

.btn-primary-home-active {
  padding: 8px 16px;
  color: var(--text-color-w);
  width: 100%;
  text-align: center;
  gap: 6px;
  border-radius: 6px;
  background-color: var(--primary-purple);

}

.btn-ai {
  padding: 8px 16px;
  color: var(--text-color);
  background-color: var(--primary-yellow);
  width: 100%;
  text-align: center;
  gap: 6px;
  border-radius: 6px;
}

.btn-logout {
  padding: 8px 16px;
  color: var(--grey);
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid #3f3f3f;
}


.btn-primary-rounded {
  background-color: var(--primary-purple) ;
  padding: 8px;
  color: var(--text-color-w);
  width: 150px;
  height: 50px;
  border-radius: 6px;
  gap: 6px;
}

.btn-primary-s {
  background-color: var(--primary-purple) ;
  padding: 5px 10px;
  color: var(--text-color-w);
  width: 80%;
}

.btn-text {
  color: var(--text-color-w);
  margin-left: 6px;
}


.btn-logout {
  display: flex;
  padding: 8px 16px;
  color: var(--text-color-w);
  width: 100%;
  text-align: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid #F7F6F2;
}

.btn-remove {
  margin-left: 6px;
  text-decoration: none;
  outline: none;
}

.no-style {
	background: none;
	// color: inherit;
	border: none;
	// padding: 0;
	// font: inherit;
	// cursor: pointer;
	outline: inherit;
}
