
.bar {
  height: 100%;
  margin-right: 8px;
  border-radius: 8px;
  &.client {
    border-left: 6px solid #63e6be ;
  }
  &.prospect {
    border-left: 6px solid #ff8787 ;
  }

  &.to_visit {
    border-left: 6px solid #74c0fc ;
  }
}

.l-side {
  display: flex;
}

.text-right {
  text-align: right;
}

.carte-infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  margin-bottom: 16px;
}

.full-list {
  margin-bottom: 20px;
}
.cartes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 6px;
  width: 100%;
  border-bottom : 1px solid #fff;
}

.input {
  width: 100%;
  margin-bottom: 16px;
}

.radio-input {
  display: none;  
}

.radio-input:checked + .radio-label {
  background-color: var(--light-grey);
  border-radius: 16px;
}

.radio-input:checked + .radio-label .carte-company-meeting-left p,
.radio-input:checked + .radio-label .carte-company-meeting-right p {
  color: var(--text-color);
}

.carte:not(:last-child) {
  margin-right: 10px;
}


.cartes::-webkit-scrollbar {
  height: 12px;
}

.cartes::-webkit-scrollbar-thumb,
.cartes::-webkit-scrollbar-track {
  border-radius: 10px;
}

.cartes::-webkit-scrollbar-thumb {
  background: #212529;
}

.cartes::-webkit-scrollbar-track {
  background: #edf2f4;
}

// Cards meeting displayed in agenda

.meetings {
  padding: 16px;
}
.carte-meeting {
  display: flex;
  width: 100%;
  height: 94px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: white;
  align-items: center;
  padding: 16px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.carte-meeting-hours {
  border-right: 1px solid white;
  height: fit-content;
  flex-basis: 10%;
  padding-right: 16px;

  p {
    margin-bottom: 0;
  }
}

.carte-meeting-company {
  padding-left: 16px;
  flex-basis: 20%;
}

.carte-meeting-actions {
  flex-basis: 8%;
  text-align: right;
}

.carte-meeting-contact {
  // flex-basis: 40%;
  flex-grow: 1;
  text-align: right;

  p {
    margin-bottom: 0;
  }
}

.fa-plus-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Cards comapny displayed in meeting creation proposal
.carte-company-meeting-master {
  width: 100%;
  margin: 8px;
}
.carte-company-meeting-infos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 65px;
  margin-bottom: 16px;
  padding: 10px 0px;
}

.carte-company-meeting {
  flex-basis: 20%;
}

.carte-company-meeting-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 40%;
}

.carte-company-meeting-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 40%;
}
