.big-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.big {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.home-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.home-left {
  display: flex;
  width: 50%;
  height: 50%;
}

.proposition {
  width: 100%;
  height: 100%;
}

.home-right {
  width: 100%;
  height: 100%;
}
.home-right {
  width: 100%;
  height: 100%;
}
