.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.vertical-list {
  overflow: scroll;
  width: 35%;
  height: 90vh;
  background-color: var(--dark-grey);
  padding: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.map_right {
  width: 65%;
  height: 707px;
  background-color: var(--dark-grey);
  padding: 16px;
}

.title-map {
  margin-top: 24px;
  color: var(--text-color-w)
}

.btn-filter {
  padding: 2px 16px;
  margin: 0 10px;
  flex-basis: 25%;
  height: 100%;
  color: var(--text-color-w);
  text-decoration: none;
  border: 1px solid #222223;
  border-radius: 8px;
  font-weight: bold;
}

.button-map {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // margin-bottom: 16px;
  position: relative;
  z-index: 1;
  top: 8%;
}

.btn-color-prospect {
  background-color: var(--secondary-orange);
}
.btn-color-client {
  background-color: var(--secondary-green);
}
.btn-color-all {
  background-color: var(--primary-purple);
}
