.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.vertical-list {
  overflow: scroll;
  width: 35%;
  height: 90vh;
  background-color: var(--dark-grey);
  padding: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.map_right {
  width: 65%;
  height: 90vh;
  background-color: var(--dark-grey);
  padding: 16px;
}

.title-map {
  color: var(--text-color-w)
}

.btn-filter {
  padding: 2px 16px;
  margin: 0 4px;
  flex-basis: 33.33%;
  height: 100%;
  background-color: var(--white);
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--text-color);
  transition: color 0.6s ease;
}

.btn-filter:active {
  color: var(--white);
  background-color: var(--primary-purple);
}

.button-map {
  width: 350px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 1;
  top: 5%;
  left: 23%;
}
